/* $Id: yubikey.css,v 1.2 2008/12/31 07:06:44 rubinj Exp $ */

#edit-yubikey-otp {
  background-image: url("yubico-icon-small.gif");
  background-position: 0% 50%;
  background-repeat: no-repeat;
  padding-left: 20px;
}

div#edit-yubikey-otp-wrapper {
  display: block;
}

html.js #user-login-form div#edit-yubikey-otp-wrapper,
html.js #user-login div#edit-yubikey-otp-wrapper {
  display: none;
}

html.js #user-login-form li.yubikey-link,
html.js #user-login li.yubikey-link {
  display: block;
  background-position: left center;
  margin-left: 0;
  padding-left: 22px;
}

#user-login-form li.yubikey-link,
#user-login-form li.yubikey-user-link,
#user-login li.yubikey-link,
#user-login li.yubikey-user-link {
  display: none;
}

#user-login-form li.yubikey-link a,
#user-login li.yubikey-link a {
  background: transparent url("yubico-icon-small.gif") no-repeat 0 2px;
  padding: 0 20px;
}

#user-login-form li.yubikey-link,
#user-login-form li.yubikey-user-link {
  text-align: left;
}
